<div class="center hero-unit">
  <h1>Karmook</h1>
  <h2>
    Inspire the World with
    <a href="http://karmook.com"> Karmook</a>
  </h2>
  <%= link_to "Login using Facebook!", 'auth/facebook', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
